<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Projects</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href="{% url 'create_project' %}">
                        Create a new project
                    </a>
                </p>
                {% if project_list|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td><a href="{% url "show_project" project.id %}"></a>
                                {{ project.name }}
                            </td>
                            <td>{{ project.tasks.all | length }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>